@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('chrome-extension://__MSG_@@extension_id__/Inconsolata.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
}

pre code {
  font-family: 'Inconsolata';
  outline: none;
  cursor: text;
}