@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/Inconsolata.ttf');
}

@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/CourierNew.ttf');
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/Monaco.ttf');
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/AnonymousPro.ttf');
}

@font-face {
  font-family: 'DejaVuSansMono';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/DejaVuSansMono.ttf');
}

@font-face {
  font-family: 'DroidSansMono';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/DroidSansMono.ttf');
}

@font-face {
  font-family: 'Monofur';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/Monofur.ttf');
}

@font-face {
  font-family: 'ProFont';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/ProFont.ttf');
}

@font-face {
  font-family: 'ProggyClean';
  font-style: normal;
  font-weight: normal;
  src: url('chrome-extension://epmaefhielclhlnmjofcdapbeepkmggh/css/ProggyClean.ttf');
}

body {
  position: relative;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

pre {
  position: absolute;
  left: 50px;
  word-wrap: normal !important;
  white-space: pre !important;
  font-family: inherit;
}

pre code {
  outline: none;
  cursor: text;
  display: block;
  padding: 0.5em 0.5em 0.5em 0;
  font-family: inherit;
}

pre.sighted code {
  padding: 0.5em 0.5em 0.5em 0;
}

ul#line-numbers {
  position: absolute;
  padding: 0.6em;
  list-style: none inside;
  z-index: -1;
  border-right: 1px solid #BBB;
  -webkit-user-select: none;
}

ul#line-numbers li {
  text-align: right;
}

.clear {
  clear: both;
}