@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Inconsolata.ttf);
}

@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/CourierNew.ttf);
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Monaco.ttf);
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/AnonymousPro.ttf);
}

@font-face {
  font-family: 'DejaVuSansMono';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/DejaVuSansMono.ttf);
}

@font-face {
  font-family: 'DroidSansMono';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/DroidSansMono.ttf);
}

@font-face {
  font-family: 'Monofur';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Monofur.ttf);
}

@font-face {
  font-family: 'ProFont';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/ProFont.ttf);
}

@font-face {
  font-family: 'ProggyClean';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/ProggyClean.ttf);
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/fonts/Consolas.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

pre .line-number {
    float:left;
    margin:0 1em 0 -1em;
    border-right:1px solid;
    text-align:right;
}

pre .line-number span {
    display:block;
    padding:0 .5em 0 1em;
}

pre .cl {
    display:block;
    clear:both;
}
