@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/Inconsolata.ttf);
}

@font-face {
  font-family: 'Courier New';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/CourierNew.ttf);
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/Monaco.ttf);
}

@font-face {
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/AnonymousPro.ttf);
}

@font-face {
  font-family: 'DejaVuSansMono';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/DejaVuSansMono.ttf);
}

@font-face {
  font-family: 'DroidSansMono';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/DroidSansMono.ttf);
}

@font-face {
  font-family: 'Monofur';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/Monofur.ttf);
}

@font-face {
  font-family: 'ProFont';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/ProFont.ttf);
}

@font-face {
  font-family: 'ProggyClean';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/ProggyClean.ttf);
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-weight: normal;
  src: url(chrome-extension://__MSG_@@extension_id__/css/Consolas.ttf);
}

body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
}

pre {
  padding: 10px;
  word-wrap: normal !important;
  white-space: pre !important;
  font-family: inherit;
  outline: none;
  cursor: text;
  display: block;
}
