#exampleDiv {
  width: 500px;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  margin-left: 1em;
  padding: 2em;
}

#theme {
  display: block;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

#codePre {
  width: 450px;
  overflow: hidden;
}