body > div {
  font-family: "Inconsolata";
  margin-left: 1em;
  padding: 2em;
}

#theme {
  display: block;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}

body pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}