body {
  font-family: "Inconsolata";
  color: #0e0e0e;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: left;
  font-size: 0.9em;
  margin-bottom: 5px;
}

#close_popup {
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 5px;
}

#close_popup:hover {
  color: red;
}