body {
  font-family: "Inconsolata";
  color: #0e0e0e;
  margin: 0;
  padding: 0;
}

body > div {
  width: 165px;
} 

p {
  position: absolute
  width: 100%;
  text-align: left;
  font-size: 0.9em;
  top: 0;
  left: 0;
  margin-bottom: 5px;
}

#close_popup {
  float: right;
  cursor: pointer;
  color: red;
}

#close_popup:hover {
  color: black;
}