body {
  font-family: "Inconsolata";
  color: #0e0e0e;
  margin: 0;
  padding: 0;
  width: 165px;
}

p {
    width: 100%;
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 5px;
}

body > p {
  position: absolute
  top: 0;
  left: 0;
}

#close_popup {
  float: right;
  cursor: pointer;
  color: red;
}

#close_popup:hover {
  color: black;
}