/*
 * Theme contributed by bentruyman.
 * http://github.com/bentruyman
 */

::selection {
	background-color: #49483E;
}

.sh_sourceCode {
	background-color: #272822;
	color: #fff;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_keyword {
	color: #F92672;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_type {
	color: #66D9EF;
	font-weight: normal;
	font-style: italic;
}
.sh_sourceCode .sh_string {
	color: #E6DB74;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_regexp {
	color: #E6DB74;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_specialchar {
	color: #bfbfbf;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_comment {
	color: #75715E;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_number {
	color: #AE81FF;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_proc {
	color: #1da3cf;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_symbol {
	color: #f0f;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_function {
	color: #A6E22E;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_cbracket {
	color: #f0f;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_url {
	color: #abab00;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_date {
	color: #ff0;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_time {
	color: #ff0;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_file {
	color: #ff0;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_ip {
	color: #abab00;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_name {
	color: #abab00;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_variable {
	color: #26e0e7;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_oldfile {
	color: #bfbfbf;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_newfile {
	color: #abab00;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_difflines {
	color: #ff0;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_selector {
	color: #26e0e7;
	font-weight: normal;
	font-style: normal;
}
.sh_sourceCode .sh_property {
	color: #ff0;
	font-weight: bold;
	font-style: normal;
}
.sh_sourceCode .sh_value {
	color: #abab00;
	font-weight: bold;
	font-style: normal;
}
